.jumbotron {
  text-align: center;
}

.navbar-toggle{
  text-align: center;
}

.questionContent {
  float: left;
  width: 349px;
}

.questionVotes {
  margin-left: 20px;
  margin-top: 50px;
  display: inline-block;
}

.glyphicon {
  font-size: 16px;
}

.glyphicon:hover {
  cursor: pointer;
}

.votes {
  font-size: 16px;
  margin-right: 15px;
}
