<div class="row">
  <div class="col-xs-6">
    <h3>Ask a Question</h3>
    {{new-question askQuestion='askQuestion'}}
  </div>
  <div class="col-xs-6">
    <h3>Answer Questions</h3>
    {{#each model as |question|}}
      <div class="displayQuestionHome">
        {{#link-to 'question' question.id}}<h4>{{question.content}}</h4>{{/link-to}}
        <p>Asked by {{question.author}}</p>
      </div>
      <hr>
    {{/each}}
  </div>
</div>
